  /* header css */

  .week_title {
      line-height: 50px;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 2px;
      color: #0d3593;
  }

  .week_title>span {
      font-size: 0.9rem;
      letter-spacing: 0;
      color: #002377;
  }

  .menu_btn {
      position: absolute;
      font-size: 35px;
      padding: 0 10px;
      line-height: 50px;
      color: rgb(117, 117, 117);
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 1s, opacity 0.5s linear;
  }

  .back_btn {
      position: absolute;
      font-size: 30px;
      padding: 0 10px;
      line-height: 50px;
      color: rgb(117, 117, 117);
      top: 0;
      right: 5px;
  }

  .header_box::after {
      content: "";
      clear: both;
  }

  /* 모바일 화면 css */
  @media only screen and (max-width: 700px) {
      .menu_btn {
          opacity: 1;
          visibility: visible;
      }
  }